#page {
    margin: 15px 0;
    color: #636363;
  /*  text-align: center;*/
}

div {
    display: block;
}

#page > a.current {
    border: 1px solid transparent;
    color: #fff;
    background:#2f4050;
}

#page > a {
    color: #666;
text-decoration: none;
padding: 5px 12px;
margin: 0 3px;
 border: 1px solid #CACACA;
/*background: #f1eff0;*/
border-radius: 2px;
}

#page .text {
    display: inline-block;
    border: none;
    padding: 0 10px;
}
.btn-jump{
	width: 50px;
	background: #4288ca;
	color: #fff;
}

.page-jump .ipt-jump {
    width: 28px;
    padding: 1px 2px;
}

input[type="text"], input[type="password"] {
    border: 1px solid #ddd;
    background: #fff;
    height: 32px;
    padding: 2px 6px;
    line-height: 32px;
    vertical-align: middle;
    color: #555;
}

input[type="text"] {
    -webkit-appearance: none;
}

input {
    margin: 0;
    font: inherit;
    color: inherit;
}

input[type="button"] {
    display: inline-block;
    padding: 3px 12px;
    vertical-align: middle;
    color: #444;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.clear {
    clear: both;
}
.sweet-alert button.cancel {
	background-color: #AEDEF4;
	}
.sweet-alert button.cancel:hover{
	background:#AEDddd;
}

#page .text{
	display: none;
}
#page{
	float: right;
}
