<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>后端管理</title>
		<meta name="keywords" content="后端管理">
		<meta name="description" content="后端管理">

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link href="css/animate.min.css" rel="stylesheet">
		<link href="css/style.min.css" rel="stylesheet">
		<link href="css/pager.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="js/plugins/layer/skin/default/layer.css" rel="stylesheet" type="text/css" />
		<link href="css/layui.css" media="all" rel="stylesheet">

		<script src="js/jquery.min.js"></script>

	</head>

	<body class="gray-bg">
		<div class="wrapper wrapper-content animated fadeIn">
			<div class="row">
				<div class="col-sm-12">
					<div class="tabs-container">
						<div class="panel-body">
							<div class="wrapper wrapper-content animated fadeInRight">
								<div class="row">
									<div class="col-sm-12">
										<div class="bgBackground">
											<div class="ibox-title-Myown1">
												<div class="zx_searchTit">
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">关系编号：</label>
														<input type="text" name="" value="" id="bind-id" />
													</div>
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">学生编号：</label>
														<input type="text" name="" value="" id="bind-student-id" />
													</div>
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">亲属编号</label>
														<input type="text" name="" value="" id="bind-relative-id" />
													</div>
													<div class="sendInquiry0 col-sm-4" style="position: relative; margin:3.5px 0 0 0;">
														<button class="btn btn-primary btn-myown" id="searchBtn">查询</button>&nbsp;&nbsp;
														<button class="btn btn-primary btn-myown" id="addManage">批量导入</button>
													</div>
													<div style="clear: both;"></div>
												</div>
											</div>
											<div class="ibox-content">
												<table class="table table-striped table-bordered table-hover dataTables-example">
													<thead>
														<tr class="zx_checkedAll">
															<th colspan="6" style="text-align: left; background: none;padding: 10px 0px;">
																<button class="btn btn-default btn-myown" id="delInfo" disabled="disabled"><i class="fa fa-trash"></i>&nbsp;删除选中项</button>
																<button class="btn btn-primary btn-myown" id="addInfo">+添加亲属</button>
															</th>
														</tr>
														<tr class="zx_thTitle">
															<th><input type="checkbox" class="zx_checkedBtn" id="zx_checkedAllBtn" name="allcheck" value="allCheck"></th>
															<th>序号</th>
															<th>关系编号</th>
															<th>学生信息</th>
															<th>亲属信息</th>
															<th>与学生的关系</th>
															<th style="width: 120px;">操作</th>
														</tr>
													</thead>
													<tbody id="tbody">

													</tbody>
												</table>
												<div id="layPage"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!--添加内容-->
		<div id="addInfoContent" style="display: none; width: 500px; padding: 20px;">
			<form id="addInfoContentform" role="form" method="POST">
				<div style="margin: 20px 0;">
					<span>学生编号：</span><input type="text" style="width: 350px;" id="add_student_id" name="add_student_id" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>亲属编号：</span><input type="text" style="width: 350px;" id="add_relative_id" name="add_relative_id" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>与学生的关系：</span>
					<select style="width: 350px;" id="add_relation" name="add_relation">
						<option value="father">父亲 </option>
						<option value="moter">母亲 </option>
						<option value="grandfather">爷爷 </option>
						<option value="grandmother">奶奶</option>
					</select>
					<div class="errorPart"></div>
				</div>
				<input class="submit" type="submit" value="提交" id="addInfoContentSubmit" style="display: none;">
			</form>
		</div>
        <!--编辑内容-->
		<div id="editAreaContent" style="display: none; width: 500px; padding: 20px;">
			<form id="editAreaContentform" role="form">
				<div style="margin: 20px 0;">
					<span>关系编号：</span><input type="text" style="width: 350px;" id="edit_id" name="edit_id" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>与学生的关系 ：</span>
					<select style="width: 350px;" id="edit_relation" name="add_relation">
						<option value="father">父亲 </option>
						<option value="moter">母亲 </option>
						<option value="grandfather">爷爷 </option>
						<option value="grandmother">奶奶</option>
					</select>
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>学生编号：</span><input type="text" style="width: 350px;" id="edit_student_id" name="edit_student_id" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>亲属编号：</span><input type="text" style="width: 350px;" id="edit_relative_id" name="edit_relative_id" />
					<div class="errorPart"></div>
				</div>
				<input class="submit" type="submit" value="提交" id="editAreaContentSubmit" style="display: none;">
			</form>
		</div>

		<script src="js/bootstrap.min.js"></script>
		<script src="js/plugins/layer/layer.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.form.js"></script>
		<script src="js/layui.js" charset="utf-8"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				getAjaxData({
					"id": $("#bind-id").val() == '' ? undefined : $("#bind-id").val(),
					"student_id": $("#bind-student-id").val() == '' ? undefined : $("#bind-student-id").val(),
					"relative_id": $("#bind-relative-id").val() == '' ? undefined : $("#bind-relative-id").val(),
					"limit": 20,
					"offset": 1,
				});

                //列表
				function getAjaxData(senddata) {
					$.ajax({
						type: "GET",
						contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
						url: "/class/infos",
						async: false,
						data: senddata,
						timeout: "30000",
						success: function(msg) {
							var msg = JSON.parse(msg);
							//分页
							layui.use(['laypage', 'layer'], function () {
							  var page = layui.laypage;  
	                          page.render({
									elem: "layPage",
									count: msg.count,
									curr: senddata.offset,
									limit: senddata.limit,
									layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
									jump: function(e, first) {
										if(!first) {
											senddata.offset = e.curr;
											senddata.limit = e.limit;
											var district = "";
										    getAjaxData({
												"id": $("#bind-id").val() == '' ? undefined : $("#bind-id").val(),
												"student_id": $("#bind-student-id").val() == '' ? undefined : $("#bind-student-id").val(),
												"relative_id": $("#bind-relative-id").val() == '' ? undefined : $("#bind-relative-id").val(),
												"limit": e.limit,
										        "offset": e.curr,
											});
										}
									}
								})
							})
							//表格渲染
							var strs = '';
							console.log(msg);
							if(msg.data.length > 0) {
								for(var i = 0; i < msg.data.length; i++) {
									if(msg.data[i].relation == 'father'){
										msg.data[i].relation = '父亲';
									}else if(msg.data[i].relation == 'moter'){
										msg.data[i].relation = '母亲';
									}
									else if(msg.data[i].relation == 'grandfather'){
										msg.data[i].relation = '爷爷 ';
									}
									else if(msg.data[i].relation == 'grandmother'){
										msg.data[i].relation = '奶奶';
									}
									strs += '<tr class="gradeX">' +
										'<td><input type="checkbox" class="zx_checkedBtn"></td>' +
										'<td class="centerSort">' + (i + 1) + '</td>' +
										'<td class="userMessage data_id">' + msg.data[i].id + '</td>' +
										'<td class="center data_student_info">' + msg.data[i].student_info + '</td>' +
										'<td class="center data_relative_info">' + msg.data[i].relative_info + '</td>' +
										'<td class="center data_relation">' + msg.data[i].relation + '</td>' +
										'<td><i class="fa fa-pencil areapen" title="修改"></i>&nbsp;&nbsp;<i class="fa fa-close" title="删除"></i></td>' +
										'</tr>'
								}
								$("#tbody").html(strs);
							} else {
								$("#tbody").html('<tr><td colspan="7" style="text-align:center;font-size:18px;color:#666;padding:50px;background:#fff;height:318px;">暂无数据！</td></tr>');
							}
						},
						error: function() {
							console.log("error");
						}
					});
				}

				//全选按钮
				$("#zx_checkedAllBtn").click(function() {
					if(this.checked) {
						$("#tbody :checkbox").prop("checked", true);
					} else {
						$("#tbody :checkbox").prop("checked", false);
					}
					allchk();
				});

				$("#tbody :checkbox").click(function() {
						allchk();
				})
			    
			    //全选
				function allchk() {
					$('#delInfo').attr("disabled", false);
					var chknum = $("#tbody :checkbox").size();
					var chk = 0;
					$("#tbody :checkbox").each(function(index, ele) {
						$(this).parents('tr').attr('id', "trId_" + index);
						if($(this).prop("checked") == true) {
							chk++;
						}
					});
					if(chknum == chk) { 
						$("input[name=allcheck]").prop("checked", true);
					} else {
						$("input[name=allcheck]").prop("checked", false);
					}
					if(chk >= 1) {
						$('#delInfo').attr('class', 'btn btn-primary btn-myown');
					} else {
						$('#delInfo').attr('class', 'btn btn-default btn-myown');
					}
				}

				//删除
				$('#delInfo').click(function() {
					var valArr = new Array;
					getValArr(valArr);

					if(valArr.length > 0) {
						layer.confirm('确定删除选中的班级？', {
							btn: ['确定', '取消'] //按钮
						}, function() {
							$.ajax({
								method: 'POST',
								xhrFields: {
									"withCredentials": true
								},
								contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
								url: "",
								data: sendData,
								dataType: 'json',
								jsonpCallback: '',
								cache: false,
								timeout: "1000000",
								success: function(data) {
									console.log(valArr)
									delData(valArr);
									layer.closeAll();
									layer.msg('删除成功', {
										icon: 1,
										time: 600
									});
									$('#delInfo').attr("disabled", "disabled");
									$('#delInfo').attr('class', 'btn btn-default btn-myown');
								},
								complete: function(XMLHttpRequest, status) {

								}
							})

						}, function() {});
					} else {
						$('#delInfo').attr("disabled", "disabled");
					}

				});

				function getValArr(valArr) {
					$("#tbody :checkbox").each(function(index, ele) {
						if($(ele).prop("checked")) {
							valArr.push(index);
						}
					});
				}

				function delData(valArr) {
					for(var i = 0; i < valArr.length; i++) {
						$('#trId_' + valArr[i]).remove();
					}
				}

				//查询
				$("#searchBtn").click(function(){
					getAjaxData({
						"id": $("#bind-id").val() == '' ? undefined : $("#bind-id").val(),
						"student_id": $("#bind-student-id").val() == '' ? undefined : $("#bind-student-id").val(),
						"relative_id": $("#bind-relative-id").val() == '' ? undefined : $("#bind-relative-id").val(),
						"limit": 20,
						"offset": 1,
					});
				});
				
				//添加校验
				var layerIndex;
				$("#addInfoContentform").validate({
					focusCleanup: true,
					focusInvalid: false,
					debug: true,
					rules: {
						add_student_id: {
							required: true,
						},
						add_relative_id: {
							required: true,
						},
					},
					messages: {
						add_student_id: {
							required: '必填',
						},
						add_relative_id: {
							required: '必填',
						},
					},
					submitHandler: function(form) {
						var data = {
							'student_id': $("#add_student_id").val(),
							'relative_id': $("#add_relative_id").val(),
							'relation': $("#add_relation option:selected").val()
						}
						$.ajax({
							type: "POST",
							contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
							url: "/class/input",
							async: false,
							data: data,
							timeout: "30000",
							success: function(msg) {
								layer.closeAll();
								layer.msg('添加成功', {
									icon: 1,
									time: 800 //2s后自动关闭
								});
                                window.location.reload();
							},
							error: function() {
								layer.msg('添加失败');
								console.log("error");
							}
						});

					},
					errorPlacement: function(error, element) {
						error.appendTo(element.parent().find(".errorPart"));
					},
					success: function() {
					}
				});
				
				//添加弹框
				$('#addInfo').click(function() {
					$("input").val("");
					$(".errorPart").html("");
					layerIndex = layer.open({
						title: '添加班级',
						type: 1,
						skin: 'layui-layer-demo', 
						anim: 2,
						shadeClose: true, 
						btn: ['确定', '取消'], 
						content: $('#addInfoContent'),
						yes: function() {
							$("#addInfoContentSubmit").click();
						}
					});
				});
                
                //编辑校验
				$("#editAreaContentform").validate({
					focusCleanup: true,
					focusInvalid: false,
					debug: true,
					rules: {
						edit_id: {
							required: true,
						},
						edit_student_id: {
							required: true,
						},
						edit_relative_id: {
							required: true,
						},
					},
					messages: {
						edit_id: {
							required:'必填',
						},
						edit_student_id: {
							required:'必填',
						},
						edit_relative_id: {
							required:'必填',
						},
					},
					submitHandler: function(form) {
						var data = {
							'id': $("#edit_id").val(),
							'student_id': $("#edit_student_id").val(),
							'relative_id': $("#edit_relative_id").val(),
							'relation': $("#edit_relation option:selected").val()
						}
						$.ajax({
							type: "POST",
							contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
							url: "/class/update",
							async: false,
							data: data,
							timeout: "30000",
							success: function(msg) {
								layer.closeAll();
								layer.msg('修改成功', {
									icon: 1,
									time: 800 //2s后自动关闭
								});
                                window.location.reload()
							},
							error: function() {
								layer.msg('修改失败');
								console.log("error");
							}
						});
					},

					errorPlacement: function(error, element) {
						error.appendTo(element.parent().find(".errorPart"));
					},
					success: function() {
					}
				});
				
				//编辑弹框
				$('.areapen').click(function() {
					$(".errorPart").html("");
					$("#edit_id").val($(this).parent("td").siblings(".data_id").html());
					$("#edit_student_id").val($(this).parent("td").siblings(".data_student_info").html());
					$("#edit_relative_id").val($(this).parent("td").siblings(".data_relative_info").html());
					
					if($(this).parent("td").siblings(".data_relation").html() == '父亲'){
						$("#edit_sex option[value = 'father']").attr('selected', 'selected');
					}else if($(this).parent("td").siblings(".data_relation").html() == '母亲'){
						$("#edit_sex option[value = 'moter']").attr('selected', 'selected');
					}else if($(this).parent("td").siblings(".data_relation").html() == '爷爷'){
						$("#edit_sex option[value = 'grandfather']").attr('selected', 'selected');
					}else if($(this).parent("td").siblings(".data_relation").html() == '奶奶'){
						$("#edit_sex option[value = 'grandmother']").attr('selected', 'selected');
					}
					
					layerIndex = layer.open({
						title: '修改班级信息',
						type: 1,
						skin: 'layui-layer-demo', 
						closeBtn: 0, 
						anim: 2,
						shadeClose: true, 
						btn: ['确定', '取消'], 
						content: $('#editAreaContent'),
						yes: function() {
							$("#editAreaContentSubmit").click();
						}
					});
				});

				$('.fa-close').click(function() {
					layer.confirm('确定删除选中的班级？', {
						btn: ['确定', '取消'] //按钮
					}, function() {
						layer.msg('已经删除选中的班级', {
							icon: 1,
							time: 600
						});
					}, function() {
						/*layer.msg('也可以这样', {
							time: 20000, //20s后自动关闭
							btn: ['明白了', '知道了']
						});*/
					});
				});
			});
		</script>
	</body>

</html>