<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>后端管理</title>
		<meta name="keywords" content="后端管理">
		<meta name="description" content="后端管理">

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link href="css/animate.min.css" rel="stylesheet">
		<link href="css/style.min.css" rel="stylesheet">
		<link href="css/pager.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="js/plugins/layer/skin/default/layer.css" rel="stylesheet" type="text/css" />
		<link href="css/layui.css" media="all" rel="stylesheet">

		<script src="js/jquery.min.js"></script>

	</head>

	<body class="gray-bg">
		<div class="wrapper wrapper-content animated fadeIn">
			<div class="row">
				<div class="col-sm-12">
					<div class="tabs-container">
						<div class="panel-body">
							<div class="wrapper wrapper-content animated fadeInRight">
								<div class="row">
									<div class="col-sm-12">
										<div class="bgBackground">
											<div class="ibox-title-Myown1">
												<div class="zx_searchTit">
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">用户手机：</label>
														<input type="text" name="" value="" id="person-phone" />
													</div>
													<div class="sendInquiry0 col-sm-4" style="position: relative; margin:3.5px 0 0 0;">
														<button class="btn btn-primary btn-myown" id="searchBtn">查询</button>
													</div>
													<div style="clear: both;"></div>
												</div>
											</div>
											<div class="ibox-content">
												<table class="table table-striped table-bordered table-hover dataTables-example">
													<thead>
														<tr class="zx_checkedAll">
															<th colspan="6" style="text-align: left; background: none;padding: 10px 0px;">
																<button class="btn btn-default btn-myown" id="delInfo" disabled="disabled"><i class="fa fa-trash"></i>&nbsp;批量删除</button>
																<button class="btn btn-primary btn-myown" id="addInfo">+添加用户</button>
															</th>
														</tr>
														<tr class="zx_thTitle">
															<th style="max-width: 100px;"><input type="checkbox" class="zx_checkedBtn" id="zx_checkedAllBtn" name="allcheck" value="allCheck"></th>
															<th>序号</th>
															<th>用户名</th>
															<th>所属学校</th>
															<th>账号等级</th>
															<th>联系电话</th>
															<th>创建时间</th>
															<th style="width: 120px;">操作</th>
														</tr>
													</thead>
													<tbody id="tbody">

													</tbody>
												</table>
												<div id="layPage"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!--添加内容-->
		<div id="addInfoContent" style="display: none; width: 500px; padding: 20px;">
			<form id="addInfoContentform" role="form" method="POST">
				<div style="margin: 20px 0;">
					<span>学校：</span>
					<select style="width: 350px;" id="add_school" name="add_school">
						<option value="">--请选择学校--</option>
					</select>
				</div>
				<div style="margin: 20px 0;">
					<span>用户名：</span><input type="text" style="width: 350px;" id="add_person_name" name="add_person_name" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>用户手机：</span><input type="text" style="width: 350px;" id="add_person_phone" name="add_person_phone" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;" class="level">
					<span>账号等级：</span>
					<select style="width: 350px;" id="add_level" name="add_level">
						<option value="0">超级管理员</option>
						<option value="1">学校管理员</option>
						<option value="2">学校用户</option>
					</select>
				</div>
				<div style="margin: 20px 0;">
					<span>密码：</span><input type="text" style="width: 350px;" id="add_password" name="add_password" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>确认密码：</span><input type="text" style="width: 350px;" id="add_affirm_pwd" name="add_affirm_pwd" />
					<div class="errorPart"></div>
				</div>
				<input class="submit" type="submit" value="提交" id="addInfoContentSubmit" style="display: none;">
			</form>
		</div>
		<!--编辑内容-->
		<div id="editAreaContent" style="display: none; width: 500px; padding: 20px;">
			<form id="editAreaContentform" role="form">
				<div style="margin: 20px 0;">
					<span>学校：</span>
					<select style="width: 350px;" id="edit_school" name="edit_school">
						<option value="">--请选择学校--</option>
					</select>
				</div>
				<div style="margin: 20px 0;">
					<span>用户名：</span><input type="text" style="width: 350px;" id="edit_person_name" name="edit_person_name" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;" class="level">
					<span>账号等级：</span>
					<select style="width: 350px;" id="edit_level" name="edit_level">
						<option value="0">超级管理员</option>
						<option value="1">学校管理员</option>
						<option value="2">学校用户</option>
					</select>
				</div>
				<div style="margin: 20px 0;">
					<span>用户手机：</span><input type="text" style="width: 350px;" id="edit_person_phone" name="edit_person_phone" />
					<div class="errorPart"></div>
				</div>
				<input class="submit" type="submit" value="提交" id="editAreaContentSubmit" style="display: none;">
			</form>
		</div>
		<!--修改密码-->
		<div id="editpwd" style="display: none; width: 500px; padding: 20px;">
			<form id="editpwdform" role="form">
				<div style="margin: 20px 0;position: relative;">
					<span>用户手机：</span><input type="text" style="width: 280px;" id="reset_person_phone" name="reset_person_phone" disdisabled="disabled">
					<div class="errorPart"></div>
					<button class="codeBtn">验证码</button>
				</div>
				<div style="margin: 20px 0;">
					<span>验证码：</span><input type="text" style="width: 350px;" id="reset_person_code" name="reset_person_code" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>新密码：</span><input type="text" style="width: 350px;" id="reset_password" name="reset_password" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>确认新密码：</span><input type="text" style="width: 350px;" id="reset_affirm_pwd" name="reset_affirm_pwd" />
					<div class="errorPart"></div>
				</div>
				<input class="submit" type="submit" value="提交" id="editpwdformSubmit" style="display: none;">
			</form>
		</div>

		<script src="js/bootstrap.min.js"></script>
		<script src="js/plugins/layer/layer.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.form.js"></script>
		<script src="js/layui.js" charset="utf-8"></script>
		<script src="js/common.js" charset="utf-8"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				//获取学校
				var schoolSelect = JSON.parse(localStorage.getItem("school"));
				var level = JSON.parse(localStorage.getItem("level"));
				var school = schoolSelect.id;
				var cardcode = schoolSelect.cardcode;
				//下拉获取学校
				getSchool()
					//获取列表
				getAjaxData({
					"limit": 20,
					"offset": 1,
				});

				function getAjaxData(senddata) {
					$.ajax({
						type: "GET",
						contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
						url: "/user/infos",
						async: false,
						data: senddata,
						timeout: "30000",
						success: function(msg) {
							var msg = JSON.parse(msg);
							//分页
							layui.use(['laypage', 'layer'], function() {
									var page = layui.laypage;
									page.render({
										elem: "layPage",
										count: msg.count,
										curr: senddata.offset,
										limit: senddata.limit,
										layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
										jump: function(e, first) {
											if(!first) {
												senddata.offset = e.curr;
												senddata.limit = e.limit;
												var district = "";
												getAjaxData({
													"limit": 20,
													"offset": 1,
												});
											}
										}
									})
								})
								//表格渲染
							var strs = '';
							if(msg.data.length > 0) {
								for(var i = 0; i < msg.data.length; i++) {
									var levelName;
									if(msg.data[i].level == 0) {
										levelName = '超级管理员'
									} else if(msg.data[i].level == 1) {
										levelName = '学校管理员'
									} else if(msg.data[i].level == 2) {
										levelName = '学校用户'
									}
									strs += '<tr class="gradeX">' +
										'<td><input type="checkbox" class="zx_checkedBtn" name=' + msg.data[i].id + '></td>' +
										'<td class="centerSort">' + (i + 1) + '</td>' +
										'<td class="data_name">' + msg.data[i].name + '</td>' +
										'<td class="center data_school_name" id =' + msg.data[i].school_id + '>' + msg.data[i].school_name + '</td>' +
										'<td class="data_level" name =' + msg.data[i].level + '>' + levelName + '</td>' +
										'<td class="center data_level">' + msg.data[i].phone + '</td>' +
										'<td class="center">' + msg.data[i].create_time + '</td>' +
										'<td><i class="fa fa-pencil areapen" title="修改详情"></i>&nbsp;&nbsp;' +
										'<i class="fa fa-close" id=' + msg.data[i].id + ' title="删除"></i>&nbsp;&nbsp;' +
										'<i class="fa fa-cogs changePwd" title="修改密码"></i>' +
										'</td>' +
										'</tr>'
								}
								$("#tbody").html(strs);
							} else {
								$("#tbody").html('<tr><td colspan="8" style="text-align:center;font-size:18px;color:#666;padding:50px;background:#fff;height:318px;">暂无数据！</td></tr>');
							}
						},
						error: function() {
							console.log("error");
						}
					});
				}

				//批量删除
				$('#delInfo').click(function() {
					var trLength = $("#tbody tr").length;
					var idArray = '';
					var count = 0;
					for(var i = 0; i < trLength; i++) {
						if($("#tbody tr").eq(i).find('input').is(':checked')) {
							if(count > 0) {
								idArray = idArray + ',' + $("#tbody tr").eq(i).find('input').attr('name');
								count++;
							} else {
								idArray = idArray + $("#tbody tr").eq(i).find('input').attr('name');
								count++;
							}
						}
					}
					if(count > 1) {
						layer.confirm('确定删除选中的用户？', {
							btn: ['确定', '取消'] //按钮
						}, function() {
							var data = {
								'id': idArray
							}
							$.ajax({
								type: "POST",
								contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
								url: "/user/delete",
								async: false,
								data: data,
								timeout: "30000",
								success: function(msg) {
									var msg = JSON.parse(msg);
									layer.closeAll();
									layer.msg('删除成功', {
										icon: 1,
										time: 800
									});
									window.location.reload();

								},
								error: function() {
									layer.msg('删除失败');
									console.log("error");
								}
							});
						}, function() {});
					} else {
						$('#delInfo').attr("disabled", "disabled");
					}

				});

				//查询
				$("#searchBtn").click(function() {
					getAjaxData({
						"limit": 20,
						"offset": 1,
					});
				});
				//获取学校
				function getSchool() {
					var data = {
						"limit": 20,
						"offset": 1,
					}
					$.ajax({
						type: "GET",
						contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
						url: "/school/infos",
						async: false,
						data: data,
						timeout: "30000",
						success: function(msg) {
							var str = '';
							var msg = JSON.parse(msg);
							console.log(msg);
							if(msg.data.length > 0) {
								for(var i = 0; i < msg.data.length; i++) {
									str += '<option value=' + msg.data[i].id + '>' + msg.data[i].name + '</option>';
								}
								$("#add_school").html(str);
								$("#edit_school").html(str);
							} else {
								str += '<option>--请先添加学校--</option>';
								$("#add_school").html(str);
								$("#edit_school").html(str);
							}

						},
						error: function() {
							console.log("error");
						}
					});
				}
				//添加校验
				var layerIndex;
				jQuery.validator.addMethod("isPhone", function(value, element) {
					var reg = /^[1][3,4,5,7,8][0-9]{9}$/;
					var phoneNum = $("#add_person_phone").val();
					var flag = reg.test(phoneNum);
					return flag;
				}, "请正确填写手机号码");

				jQuery.validator.addMethod("isPhoneEdit", function(value, element) {
					var reg = /^[1][3,4,5,7,8][0-9]{9}$/;
					var phoneNum = $("#edit_person_phone").val();
					var flag = reg.test(phoneNum);
					return flag;
				}, "请正确填写手机号码");
				$("#addInfoContentform").validate({
					focusCleanup: true,
					focusInvalid: false,
					debug: true,
					rules: {
						add_person_name: {
							required: true,
						},
						add_person_phone: {
							required: true,
							isPhone: true,
						},
						add_password: {
							required: true,
						},
						add_affirm_pwd: {
							required: true,
							equalTo: '#add_password',
						},
					},
					messages: {
						add_person_name: {
							required: '必填',
						},
						add_person_phone: {
							required: '必填',
							isPhone: '请填写正确的手机号',
						},
						add_password: {
							required: '必填',
						},
						add_affirm_pwd: {
							required: '必填',
							equalTo: "密码不一致",
						},
					},
					submitHandler: function(form) {
						if(level != 0) {
							$("#add_level").val() = ''
						}
						var data = {
							'name': $("#add_person_name").val(),
							'phone': $("#add_person_phone").val(),
							'school_id': $("#add_school").val(),
							'pwd': $("#add_password").val(),
							'affirm_pwd': $("#add_affirm_pwd").val(),
							'level': $("#add_level").val() == '' ? undefined : $("#add_level").val(),
						}
						$.ajax({
							type: "POST",
							contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
							url: "/user/input",
							async: false,
							data: data,
							timeout: "30000",
							success: function(msg) {
								layer.closeAll();
								layer.msg('添加成功', {
									icon: 1,
									time: 800 //2s后自动关闭
								});
								window.location.reload();
							},
							error: function() {
								layer.msg('添加失败');
								console.log("error");
							}
						});

					},
					errorPlacement: function(error, element) {
						error.appendTo(element.parent().find(".errorPart"));
					},
					success: function() {}
				});

				//添加弹框
				$('#addInfo').click(function() {
					if(level != 0) {
						$(".level").css("display", "none");
					}
					$("input").val("");
					$(".errorPart").html("");
					layerIndex = layer.open({
						title: '添加用户',
						type: 1,
						skin: 'layui-layer-demo',
						anim: 2,
						shadeClose: true,
						btn: ['确定', '取消'],
						content: $('#addInfoContent'),
						yes: function() {
							$("#addInfoContentSubmit").click();
						}
					});
				});

				//编辑校验
				$("#editAreaContentform").validate({
					focusCleanup: true,
					focusInvalid: false,
					debug: true,
					rules: {
						edit_person_name: {
							required: true,
						},
						edit_person_phone: {
							required: true,
							isPhoneEdit: true,
						},
					},
					messages: {
						edit_person_name: {
							required: '必填',
						},
						edit_person_phone: {
							required: '必填',
							isPhoneEdit: '请填写正确的手机号',
						},
					},
					submitHandler: function(form) {
						var data = {
							'name': $("#add_person_name").val(),
							'phone': $("#add_person_phone").val(),
							'school_id': $("#add_school").val(),
							'pwd': $("#add_password").val(),
							'affirm_pwd': $("#add_affirm_pwd").val(),
						}
						$.ajax({
							type: "POST",
							contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
							url: "/user/update",
							async: false,
							data: data,
							timeout: "30000",
							success: function(msg) {
								layer.closeAll();
								layer.msg('修改成功', {
									icon: 1,
									time: 80

								});
								window.location.reload();
							},
							error: function() {
								layer.msg('修改失败');
								console.log("error");
							}
						});
					},

					errorPlacement: function(error, element) {
						error.appendTo(element.parent().find(".errorPart"));
					},
					success: function() {}
				});

				//编辑弹框
				$('.areapen').click(function() {
					if(level != 0) {
						$(".level").css("display", "none");
					}
					$(".errorPart").html("");
					$("#edit_school").val($(this).parent("td").siblings(".data_school_name").attr("id"));
					$("#edit_person_name").val($(this).parent("td").siblings(".data_name").html());
					$("#edit_person_phone").val($(this).parent("td").siblings(".data_phone").html());
					$("#edit_level").val($(this).parent("td").siblings(".data_level").attr("name"));
					layerIndex = layer.open({
						title: '修改用户信息',
						type: 1,
						skin: 'layui-layer-demo',
						closeBtn: 0,
						anim: 2,
						shadeClose: true,
						btn: ['确定', '取消'],
						content: $('#editAreaContent'),
						yes: function() {
							$("#editAreaContentSubmit").click();
						}
					});
				});
				//修改密码校验
				$("#editAreaContentform").validate({
					focusCleanup: true,
					focusInvalid: false,
					debug: true,
					rules: {
						edit_person_phone: {
							required: true,
							isPhoneEdit: true,
						},
						edit_person_code: {
							required: true,
						},
						edit_password: {
							required: true,
						},
						edit_affirm_pwd: {
							required: true,
							equalTo: '#edit_password',
						},
					},
					messages: {
						edit_person_phone: {
							required: '必填',
							isPhoneEdit: '请填写正确的手机号',
						},
						edit_person_code: {
							required: '必填',
						},
						edit_password: {
							required: '必填',
						},
						edit_affirm_pwd: {
							required: '必填',
							equalTo: "密码不一致",
						},
					},
					submitHandler: function(form) {
						var data = {
							'phone': $("#reset_person_phone").val(),
							'veirfy_code': $("#reset_person_code").val(),
							'new_pwd': $("#reset_password").val(),
							'affirm_pwd': $("#reset_affirm_pwd").val(),
						}
						$.ajax({
							type: "POST",
							contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
							url: "/reset_pwd/action",
							async: false,
							data: data,
							timeout: "30000",
							success: function(msg) {
								var msg = JSON.parse(msg);
								if(msg.state == 0) {
									layer.closeAll();
									layer.msg('修改成功', {
										icon: 1,
										time: 80
									});
									window.location.reload();
								} else if(msg.state == 1) {
									layer.msg('密码错误，未空或者二次密码不一致');
								} else if(msg.state == 2) {
									layer.msg('验证码错误，与手机号不匹配');
								} else if(msg.state == 3) {
									layer.msg('手机号不存在或错误');
								} else {
									layer.msg('修改失败');
								}
							},
							error: function() {
								layer.msg('修改失败');
								console.log("error");
							}
						});
					},

					errorPlacement: function(error, element) {
						error.appendTo(element.parent().find(".errorPart"));
					},
					success: function() {}
				});

				//修改密码弹框
				$('.changePwd').click(function() {
					$(".errorPart").html("");
					$("#edit_person_phone").val($(this).parent("td").siblings(".data_phone").html());
					layerIndex = layer.open({
						title: '修改用户信息',
						type: 1,
						skin: 'layui-layer-demo',
						closeBtn: 0,
						anim: 2,
						shadeClose: true,
						btn: ['确定', '取消'],
						content: $('#editpwd'),
						yes: function() {
							$("#editpwdformSubmit").click();
						}
					});
				});
				//获取验证码
				$(".codeBtn").click(function() {
					var data = {
						"phone": $("#reset_person_phone").val()
					}
					$.ajax({
						type: "POST",
						contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
						url: "/push_verify/action",
						async: false,
						data: data,
						timeout: "30000",
						success: function(msg) {
							var data = JSON.parse(msg);
							console.log(data);
							if(data.state == 0) {
								$(".codeBtn").css("border", "1px solid #ccc");
								$(".codeBtn").css("color", "#ccc");
								var time = setTimeout(function() {
									$(".codeBtn").css("border", "1px solid #1ba0e7");
									$(".codeBtn").css("color", "#1ba0e7");
								},60000);
							} else {
								alert("发送失败");
							}
						},
						error: function() {
							console.log("error");
						}
					});
				});
				//单项删除
				$('.fa-close').click(function() {
					var deleteId = $(this).attr('id');
					layer.confirm('确定删除选中的用户？', {
						btn: ['确定', '取消']
					}, function() {
						var data = {
							'id': deleteId
						}
						$.ajax({
							type: "POST",
							contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
							url: "/user/delete",
							async: false,
							data: data,
							timeout: "30000",
							success: function(msg) {
								var msg = JSON.parse(msg);
								layer.closeAll();
								layer.msg('删除成功', {
									icon: 1,
									time: 800
								});
								window.location.reload();

							},
							error: function() {
								layer.msg('删除失败');
								console.log("error");
							}
						});
					});
				});

				//全选按钮
				$("#zx_checkedAllBtn").click(function() {
					if(this.checked) {
						$("#tbody :checkbox").prop("checked", true);
					} else {
						$("#tbody :checkbox").prop("checked", false);
					}
					allchk();
				});

				$("#tbody :checkbox").click(function() {
						allchk();
					})
					//全选
				function allchk() {
					var chknum = $("#tbody :checkbox").size();
					var chk = 0;
					var trLength = $("#tbody tr").length;
					for(var i = 0; i < trLength; i++) {
						if($("#tbody tr").eq(i).find('input').is(':checked')) {
							chk++;
						}
					}
					if(chknum == chk) {
						$("input[name=allcheck]").prop("checked", true);
					} else {
						$("input[name=allcheck]").prop("checked", false);
					}
					if(chk > 1) {
						$('#delInfo').attr('class', 'btn btn-primary btn-myown');
						$('#delInfo').attr("disabled", false);
					} else {
						$('#delInfo').attr('class', 'btn btn-default btn-myown');
						$('#delInfo').attr("disabled", true);
					}
				}
			});
		</script>
	</body>

</html>