<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<title>后端管理</title>

		<meta name="keywords" content="后端管理">
		<meta name="description" content="后端管理">

		<!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

		<!--[if !IE]> -->
		<script src="js/jquery.min.js"></script>
		<!-- <![endif]-->

		<!--[if IE]>
	    <script src="js/jquery-1.7.2.min.js"></script>
	<![endif]-->

		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="css/animate.min.css" rel="stylesheet" type="text/css">
		<link href="css/style.min.css" rel="stylesheet" type="text/css">
		<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
		<!--<script type="text/javascript" src="js/jquery.pseudo.js"></script>-->
		<style type="text/css">
			.slimScrollDiv {
				position: fixed!important;
			}
			
			.navbar-header {
				float: left;
			}
			
			.nav.navbar-top-links.navbar-right {
				float: right;
			}
			
			.form-group {
				'' display: none;
			}
			
			.fa-bars {
				color: #fff;
			}
			
			.dropdown {
				margin-right: 0;
			}
			
			.count-info .label {
				right: 12px;
			}
			
			.navbar-right {
				margin-right: 15px!important;
			}
		</style>
	</head>

	<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
		<div id="wrapper">
			<!--左侧导航开始-->
			<nav class="navbar-default navbar-static-side" role="navigation">
				<div class="nav-close"><i class="fa fa-times-circle"></i>
				</div>
				<div class="sidebar-collapse">
					<ul class="nav" id="side-menu">
						<li class="nav-header">

						</li>
						<li class="Lilist active">
							<a href="#" class="titleA">
								<i class="fa fa-envelope-o"></i>
								<span class="nav-label">学校管理</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level ulOne">
								<li>
									<a class="J_menuItem" name="school.html" id="school.html" href="javascript:void(0);">学校管理</a>
								</li>

							</ul>
						</li>
						<li class="Lilist">
							<a href="#" class="titleA">
								<i class="fa fa-folder-o"></i>
								<span class="nav-label">年级管理</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level ulTwo">
								<li>
									<a class="J_menuItem" name="class.html" id="class.html" href="javascript:void(0);">年级管理</a>
								</li>

							</ul>
						</li>

						<li class="Lilist">
							<a href="#" class="titleA">
								<i class="fa fa-bar-chart"></i>
								<span class="nav-label">教师管理</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level ulThree">
								<li>
									<a class="J_menuItem" name="teacher.html" id="teacher.html" href="javascript:void(0);">教师管理</a>
								</li>

							</ul>
						</li>

						<li class="Lilist">
							<a href="#" class="titleA">
								<i class="fa fa-sun-o"></i>
								<span class="nav-label">学生管理</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level ulFour">
								<li>
									<a class="J_menuItem" name="student.html" id="student.html" href="javascript:void(0);">学生管理</a>
								</li>
							</ul>

						</li>
						<li class="Lilist" style="margin-bottom: 50px;">
							<a href="#" class="titleA">
								<i class="fa fa-sun-o"></i>
								<span class="nav-label">亲属管理</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level ulFour">
								<li>
									<a class="J_menuItem" name="relative.html" id="relative.html" href="javascript:void(0);">亲属管理</a>
								</li>
								<li>
									<a class="J_menuItem" name="relation.html" id="relation.html" href="javascript:void(0);">亲属关系管理</a>
								</li>
							</ul>

						</li>
					</ul>
				</div>
			</nav>
			<!--左侧导航结束-->
			<!--右侧部分开始-->
			<div id="page-wrapper" class="gray-bg dashbard-1">
				<div class="row border-bottom">
					<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0;">

						<div class="navbar-header">
							<div class="logobg" style="width: 200px; height: 50px;  position: absolute; top: 5px; left: 5px;">
							</div>

							<form role="search" class="navbar-form-custom" method="post" action="search_results.html">

							</form>
						</div>
						<ul class="nav navbar-top-links navbar-right" style="width: 310px;">
							<li class="m-t-xs" style="float: right;">
								<a href="login.html"><i class="fa fa-power-off"></i>退出</a>
							</li>
						</ul>
					</nav>
				</div>

				<div class="row J_mainContent" id="content-main">
					<iframe class="J_iframe" id="iframecontent" name="iframe0" width="100%" height="100%" src="school.html" frameborder="0" scrolling="yes" data-id="school.html" seamless></iframe>
				</div>

			</div>
			<!--右侧部分结束-->

		</div>

		</div>

		<script src="js/html5shiv.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/jquery.metisMenu.js"></script>
		<script type="text/javascript" src="js/jquery.slimscroll.min.js"></script>
		<script type="text/javascript" src="js/plugins/layer/layer.js"></script>
		<script type="text/javascript" src="js/hplus.min.js"></script>
		<script type="text/javascript" src="js/contabs.min.js"></script>
		<script type="text/javascript" src="js/pace.min.js"></script>
		<script>
			//导航
			$('.Lilist li a').each(function() {
				$(this).click(function() {
					$('.J_iframe').attr("src", $(this).attr("id"));
				});
			});

			$('.Lilist').mouseover(function() {
				$(this).css('zIndex', 10).siblings('li').css('zIndex', 1);
			});
			$('#side-menu li').has("ul").children("ul").addClass("collapse");
			$('#side-menu li').click(function() {
				if($(this).attr('class') === "nav-header") {
					return;
				} else {
					if($(this).attr('class').indexOf('active') != -1) {
						$(this).find('ul').addClass("collapse in").parent().siblings().find('ul').removeClass('in');
						$(this).find('ul').slideDown(500);
					} else {
						$(this).find('ul').removeClass("in");
					};
				};
			});

			window.onhashchange = function(){ console.log(1);   
				var hash = location.hash;
			    hash = hash.substring(1,hash.length);
			    $("#iframecontent").attr("src","<%=path%>" + url);
			}
			$(".Lilist ul li").click(function(){alert(2);
				var h = $(this).find("a").id;console.log(h);
				loadIframe(h);
			});
			function loadIframe(url){ console.log(2); 
			  var u = window.location.href;
			  var end = u.indexOf("#");
			  var rurl = u.substring(0,end);
			  //设置新的锚点
			  window.location.href = rurl + "#" + url;
			}
//			document.addEventListener('DOMContentLoaded', function () {   console.log(3);   
//				var hash = location.hash;     
//				var url = hash.substring(1,hash.length);
//			     $("#iframecontent").attr("src", url);
//			}, false)
		</script>
	</body>

</html>