<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>后端管理</title>
		<meta name="keywords" content="后端管理">
		<meta name="description" content="后端管理">

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">

		<link href="css/animate.min.css" rel="stylesheet">
		<link href="css/style.min.css" rel="stylesheet">
		<base target="_blank">
		<style type="text/css">
			.gray-bg {
				background: #1ba0e7;
			}
			
			.loginRight {
				width: 380px;
				height: 320px;
				background: #fff;
				padding: 20px 40px;
				margin: 0 auto;
			}
			
			.loginscreen.middle-box {
				width: 1100px;
			}
			
			.middle-box {
				max-width: 1100px;
				z-index: 100;
				margin: 0px auto 0;
				padding-top: 240px;
			}
			
			.passwordInput {
				width: 300px;
				float: left;
			}
			
			.passwordSpn {
				width: 90px;
				float: left;
				margin-left: 10px;
				height: 33px;
				display: inline-block;
				border: 1px solid #ddd;
				line-height: 33px;
				color: #999;
			}
			
			.form-group {
				height: 40px;
			}
			
			.animated {
				clear: both;
			}
			
			.topWrap {
				width: 1100px;
				margin: 0 auto;
			}
			
			.block {
				margin-top: 20px;
			}
			
			.fr {
				float: right;
			}
		</style>

		<script>
			if(window.top !== window.self) {
				window.top.location = window.location;
			}
		</script>
	</head>

	<body class="gray-bg">
		<div style="width:100%; height: 70px; background: url(img/logo.png) no-repeat 2% 45% #fff; position: fixed; top: 0; left: 0;">

		</div>
		<div class="middle-box text-center loginscreen  animated fadeInDown">

			<div class="loginRight">

				<h3 style="font-size: 20px; margin: 25px 0 25px 0; color: #2d3338;">登录后端平台</h3>

				<form class="m-t" role="form" action="index.html">
					<div class="form-group nameDiv">
						<input type="text" class="form-control" placeholder="用户名" required="" id="form-username">
					</div>
					<div class="form-group phoneDiv" style="display: none;">
						<input type="text" class="form-control" placeholder="手机号" required="" id="form-userphone">
					</div>
					<div class="form-group" style="margin-bottom: 0px;">
						<input type="password" class="form-control passwordInput" placeholder="密码" required="" id="form-password">
					</div>
					<a class="fr goPhone">手机号登录？</a>
					<a class="fr goName" style="display: none;">用户名登录？</a>
					<div style="clear: both;text-align: right;">
						<a href="forgetPassword.html">忘记密码？</a>
					</div>
					<button type="button" class="btn btn-primary block full-width m-b" onclick="login()">登 录</button>
				</form>
			</div>
		</div>
		<div style="width:100%; height: 80px; background: #fff; position: fixed; bottom: 0; left: 0;">

		</div>
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript">
			var count = 0;
			$(".goPhone").click(function() {
				count = 1;
				$(".phoneDiv").css("display", "block");
				$(".nameDiv").css("display", "none");
				$(".goName").css("display", "block");
				$(".goPhone").css("display", "none");
			});
			$(".goName").click(function() {
				count = 0;
				$(".phoneDiv").css("display", "none");
				$(".nameDiv").css("display", "block");
				$(".goName").css("display", "none");
				$(".goPhone").css("display", "block");
			});

			function login() {
				if(count == 0) {
					var data = {
						'level': count,
						'name': $("#form-username").val(),
						'pwd': $("#form-password").val()
					}
					$.ajax({
						type: "POST",
						contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
						url: "/login/action",
						async: false,
						data: data,
						timeout: "30000",
						success: function(msg) {
							var data = JSON.parse(msg);
							console.log(data);
							if(data.state == 0) {
								if(data.user_info.level == 0) {
									var level = data.user_info.level;
									window.localStorage.setItem("level", level);
									if(localStorage.getItem("school")) {
										localStorage.removeItem("school");
									}
									window.location.href = "/edu/index.html#school.html";
								} else {
									var school = new Object();
									school.id = data.user_info.school_id;
									school.cardcode = data.user_info.cardcode;
									school.name = data.user_info.school_name;
									window.localStorage.setItem("school", JSON.stringify(school));
									var level = data.user_info.level;
									window.localStorage.setItem("level", level);
									window.location.href = "/edu/index.html#grade.html";
								}
							} else if(data.state == 1) {
								alert("用户名或密码错误 ");
							} else {
								alert("用户名为空且不属于电话用户");
							}
						},
						error: function() {
							console.log("error");
						}
					});
				} else {
					var reg = /^[1][3,4,5,7,8][0-9]{9}$/;
					var phoneNum = $("#form-userphone").val();
					var flag = reg.test(phoneNum);
					if(flag == true) {
						var data = {
							'level': count,
							'phone': $("#form-userphone").val(),
							'pwd': $("#form-password").val()
						}
						$.ajax({
							type: "POST",
							contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
							url: "/login/action",
							async: false,
							data: data,
							timeout: "30000",
							success: function(msg) {
								var data = JSON.parse(msg);
								console.log(data);
								if(data.state == 0) {
									if(data.user_info.level == 0) {
										var level = data.user_info.level;
										window.localStorage.setItem("level", level);
										window.location.href = "/edu/index.html#school.html";
									} else {
										var school = new Object();
										school.id = data.user_info.school_id;
										school.cardcode = data.user_info.cardcode;
										school.name = data.user_info.school_name;
										window.localStorage.setItem("school", JSON.stringify(school));
										var level = data.user_info.level;
										window.localStorage.setItem("level", level);
										window.location.href = "/edu/index.html#grade.html";
									}
								} else if(data.state == 1) {
									alert("用户名或密码错误 ");
								} else {
									alert("用户名为空且不属于电话用户");
								}
							},
							error: function() {
								console.log("error");
							}
						});
					} else {
						alert("请填写正确的手机号！ ");
					}
				}

			}
		</script>
	</body>

</html>