<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>后端管理</title>
		<meta name="keywords" content="后端管理">
		<meta name="description" content="后端管理">

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link href="css/animate.min.css" rel="stylesheet">
		<link href="css/style.min.css" rel="stylesheet">
		<link href="css/pager.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="js/plugins/layer/skin/default/layer.css" rel="stylesheet" type="text/css" />

		<script src="js/jquery.min.js"></script>
    
	</head>
    <style type="text/css">
    	#imgPreview {
		 width: 40%;
		 height: 180px;
		 border: 1px solid black;
		 text-align: center;
		 display: inline-block;
		}
		#prompt3 {
		 width: 100%;
		 height: 180px;
		 text-align: center;
		 position: relative;
		}
		#imgSpan {
		 position: absolute;
		 top: 75px;
		 left: 63px;
		}
		.filepath {
		 width: 100%;
		 height: 100%;
		 opacity: 0;
		}
		#img3 {
		 height: 100%;
		 width: 100%;
		 display: none;
		}
    </style>
	<body class="gray-bg">
		<div class="wrapper wrapper-content animated fadeIn">
			<div class="row">
				<div class="col-sm-12">
					<div class="tabs-container">
						<div class="panel-body">
							<div class="wrapper wrapper-content animated fadeInRight">
								<div class="row">
									<div class="col-sm-12">
										<div class="bgBackground">
											<div class="ibox-title-Myown1">
												<div class="zx_searchTit">
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">亲属编号：</label>
														<input type="text" name="" value="" id="relative-id" />
													</div>
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">亲属名称：</label>
														<input type="text" name="" value="" id="relative-name" />
													</div>
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">学生编号：</label>
														<input type="text" name="" value="" id="relative-student-id" />
													</div>
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">学生姓名：</label>
														<input type="text" name="" value="" id="relative-student-name" />
													</div>
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">联系电话：</label>
														<input type="text" name="" value="" id="family-phone" />
													</div>
													<div class="sendInquiry0 col-sm-4" style="position: relative; margin:3.5px 0 0 0;">
														<button class="btn btn-primary btn-myown" id="searchBtn">查询</button>&nbsp;&nbsp;
														<button class="btn btn-primary btn-myown" id="addManage">批量导入</button>
													</div>
													<div style="clear: both;"></div>
												</div>
											</div>
											<div class="ibox-content">
												<table class="table table-striped table-bordered table-hover dataTables-example">
													<thead>
														<tr class="zx_checkedAll">
															<th colspan="6" style="text-align: left; background: none;padding: 10px 0px;">
																<button class="btn btn-default btn-myown" id="delInfo" disabled="disabled"><i class="fa fa-trash"></i>&nbsp;删除选中项</button>
																<button class="btn btn-primary btn-myown" id="addInfo">+添加亲属</button>
															</th>
														</tr>
														<tr class="zx_thTitle">
															<th><input type="checkbox" class="zx_checkedBtn" id="zx_checkedAllBtn" name="allcheck" value="allCheck"></th>
															<th>序号</th>
															<th>亲属编号</th>
															<th>亲属名称</th>
															<th>性别</th>
															<th>年龄</th>
															<th>电话号码</th>
															<th>创建时间</th>
															<th>最后一次更新时间</th>
															<th style="width: 120px;">操作</th>
														</tr>
													</thead>
													<tbody id="tbody">

													</tbody>
												</table>
												<div id="layPage"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		</div>
		</div>

		<div id="addInfoContent" style="display: none; width: 500px; padding: 20px;">
			<form id="addInfoContentform" role="form" method="POST">
				<div style="margin: 10px 0;">
					<span>亲属名称：</span><input type="text" style="width: 350px;" id="add_name" name="add_name" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 10px 0;">
					<span>性别：</span>
					<select style="width: 350px;" id="add_sex" name="add_sex">
						<option value="0">女</option>
						<option value="1">男</option>
					</select>
					<div class="errorPart"></div>
				</div>
				<div style="margin: 10px 0;">
					<span>年龄：</span><input type="text" style="width: 350px;" id="add_age" name="add_age" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 10px 0;">
					<span>电话号码：</span><input type="text" style="width: 350px;" id="add_phone" name="add_phone" />
				</div>
				<input class="submit" type="submit" value="提交" id="addInfoContentSubmit" style="display: none;">
				<div class="errorPart"></div>
			</form>
		</div>

		<div id="editAreaContent" style="display: none; width: 500px; padding: 20px;">
			<form id="editAreaContentform" role="form">
				<div style="margin: 10px 0;">
					<span>亲属编号：</span><input type="text" style="width: 350px;" id="edit_id" name="edit_id" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 10px 0;">
					<span>亲属名称：</span><input type="text" style="width: 350px;" id="edit_name" name="edit_name" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 10px 0;">
					<span>性别：</span>
					<select style="width: 350px;" id="edit_sex" name="edit_sex">
						<option value="0">女</option>
						<option value="1">男</option>
					</select>
					<div class="errorPart"></div>
				</div>
				<div style="margin: 10px 0;">
					<span>年龄：</span><input type="text" style="width: 350px;" id="edit_age" name="edit_age" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 10px 0;">
					<span>电话号码：</span><input type="text" style="width: 350px;" id="edit_phone" name="edit_phone" />
					<div class="errorPart"></div>
				</div>
				<input class="submit" type="submit" value="提交" id="editAreaContentSubmit" style="display: none;">
			</form>
		</div>
		<div id="certifyContent" style="display: none; width: 500px; padding: 20px;">
			<form id="certifyContentform" role="form">
				<div style="margin: 10px 0;">
					<span>亲属编号：</span><input type="text" style="width: 350px;" id="certify_id" name="certify_id" disabled="disabled" />
					<div class="errorPart"></div>
				</div>
				上传图片：<div id="imgPreview">
				 <div id="prompt3">
					 <span id="imgSpan">
					 点击上传
					   <br />
					 <i class="aui-iconfont aui-icon-plus"></i>
					 </span>
					 <input type="file" id="file" class="filepath" onchange="changepic(this)" accept="image/jpg,image/jpeg,image/png,image/PNG">
				 </div>
				 <script type="text/javascript">
	                function changepic() {
						 var reads = new FileReader();
						 f = document.getElementById('file').files[0];
						 reads.readAsDataURL(f);
						 reads.onload = function(e) {
						 document.getElementById('img3').src = this.result;
						 };
					}	
				 </script>
				 <img src="#" id="img3" />
				</div>
				
				<input class="submit" type="submit" value="提交" id="certifyContentSubmit" style="display: none;">
			</form>
		</div>

		<script src="js/bootstrap.min.js"></script>
		<script src="js/plugins/layer/layer.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.form.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				getAjaxData({
					"id": $("#relative-id").val() == '' ? undefined : $("#relative-id").val(),
					"name": $("#relative-name").val() == '' ? undefined : $("#relative-name").val(),
					"student_id": $("#relative-student-id").val() == '' ? undefined : $("#relative-student-id").val(),
					"student_name": $("#relative-student-name").val() == '' ? undefined : $("#relative-student-name").val(),
					"phone": $("#family-phone").val() == '' ? undefined : $("#family-phone").val(),
					"limit": 20,
					"offset": 1,
				});
				function getAjaxData(senddata) {
					$.ajax({
						type: "GET",
						contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
						url: "/relative/infos",
						async: false,
						data: senddata,
						timeout: "30000",
						success: function(msg) {
							var msg = JSON.parse(msg);
							var strs = '';
							console.log(msg);
							if(msg.data.length > 0) {
								for(var i = 0; i < msg.data.length; i++) {
									if(msg.data[i].sex == 0){
										msg.data[i].sex = "女";
									}else{
										msg.data[i].sex = "男";
									}
									
									strs += '<tr class="gradeX">' +
										'<td><input type="checkbox" class="zx_checkedBtn"></td>' +
										'<td class="centerSort">' + (i + 1) + '</td>' +
										'<td class="userMessage data_id">' + msg.data[i].id + '</td>' +
										'<td class="data_name">' + msg.data[i].name + '</td>' +
										'<td class="center data_sex">' + msg.data[i].sex + '</td>' +
										'<td class="center data_age">' + msg.data[i].age + '</td>' +
										'<td class="center data_phone">' + msg.data[i].phone + '</td>' +
										'<td class="center">' + msg.data[i].create_time + '</td>' +
										'<td class="center">' + msg.data[i].updated_time + '</td>' +
										'<td><i class="fa fa-pencil areapen" title="修改"></i>&nbsp;&nbsp;' +
										'<i class="fa fa-close" title="删除"></i>&nbsp;&nbsp;' +
										'<i class="fa fa-file certify" title="认证"></i>&nbsp;&nbsp;' +
										'</td></tr>'
								}
								$("#tbody").html(strs);
							} else {
								$("#tbody").html('<tr><td colspan="10" style="text-align:center;font-size:18px;color:#666;padding:50px;background:#fff;height:318px;">暂无数据！</td></tr>');
							}
							//							layPage(msg.count, msg.result.pageSize, msg.result.pageNo)
						},
						error: function() {
							console.log("error");
						}
					});
				}
				
				function layPage(paCount, pgSize, pageIndex) {
					layui.laypage.render({
						elem: "layPage",
						count: pgCount,
						curr: pageIndex,
						limit: pgSize,
						layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
						jump: function(e, first) {
							if(!first) {
								pageIndex = e.curr;
								pgSize = e.limit;
								var district = "";
								getAjaxData({
									"id": $("#relative-id").val() == '' ? undefined : $("#relative-id").val(),
									"name": $("#relative-name").val() == '' ? undefined : $("#relative-name").val(),
									"student_id": $("#relative-student-id").val() == '' ? undefined : $("#relative-student-id").val(),
									"student_name": $("#relative-student-name").val() == '' ? undefined : $("#relative-student-name").val(),
									"phone": $("#family-phone").val() == '' ? undefined : $("#family-phone").val(),
									"limit": 20,
									"offset": 1,
								});
							}
						}
					})
				}
				//全选按钮
				$("#zx_checkedAllBtn").click(function() {
					if(this.checked) {
						$("#tbody :checkbox").prop("checked", true);
					} else {
						$("#tbody :checkbox").prop("checked", false);
					}
					allchk();

				});

				$("#tbody :checkbox").click(function() {
						allchk()
					})
					//全选
				function allchk() {
					$('#delInfo').attr("disabled", false);
					var chknum = $("#tbody :checkbox").size(); //选项总个数 
					var chk = 0;
					$("#tbody :checkbox").each(function(index, ele) {
						$(this).parents('tr').attr('id', "trId_" + index);
						if($(this).prop("checked") == true) {
							chk++;
						}
					});
					if(chknum == chk) { //全选 
						$("input[name=allcheck]").prop("checked", true);
					} else { //不全选 
						$("input[name=allcheck]").prop("checked", false);
					}
					if(chk >= 1) {
						$('#delInfo').attr('class', 'btn btn-primary btn-myown');
					} else {
						$('#delInfo').attr('class', 'btn btn-default btn-myown');
					}
				}

				//============
				//删除选中项
				$('#delInfo').click(function() {
					var valArr = new Array;
					getValArr(valArr);

					if(valArr.length > 0) {

						layer.confirm('确定删除选中的学生？', {
							btn: ['确定', '取消'] //按钮
						}, function() {
							$.ajax({
								method: 'POST',
								xhrFields: {
									"withCredentials": true
								},
								contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
								url: "",
								data: sendData,
								dataType: 'json',
								jsonpCallback: '',
								cache: false,
								timeout: "1000000",
								success: function(data) {
									console.log(valArr)
									delData(valArr);
									layer.closeAll();
									layer.msg('删除成功', {
										icon: 1,
										time: 600
									});
									$('#delInfo').attr("disabled", "disabled");
									$('#delInfo').attr('class', 'btn btn-default btn-myown');
								},
								complete: function(XMLHttpRequest, status) {

								}
							})

						}, function() {});
					} else {
						$('#delInfo').attr("disabled", "disabled");
					}

				});

				function getValArr(valArr) {
					$("#tbody :checkbox").each(function(index, ele) {
						if($(ele).prop("checked")) {
							valArr.push(index);
						}
					});
				}

				function delData(valArr) {
					for(var i = 0; i < valArr.length; i++) {
						$('#trId_' + valArr[i]).remove();
					}
				}

				//添加
				var layerIndex;
				$("#addInfoContentform").validate({
					focusCleanup: true,
					focusInvalid: false,
					debug: true,
					rules: {
						add_name: {
							required: true,
						},
						add_age: {
							required: true,
						},
						add_phone: {
							required: true,
						},
					},
					messages: {
						add_name: {
							required: '必填',
						},
						add_age: {
							required: '必填',
						},
						add_phone: {
							required: '必填',
						},
					},
					submitHandler: function(form) {
						var data = {
							'name': $("#add_name").val(),
							'sex': $("#add_sex option:selected").val(),
							'age': $("#add_age").val(),
							'phone': $("#add_phone").val()
						}
						$.ajax({
							type: "POST",
							contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
							url: "/relative/input",
							async: false,
							data: data,
							timeout: "30000",
							success: function(msg) {
								layer.closeAll();
								layer.msg('添加成功', {
									icon: 1,
									time: 800 //2s后自动关闭
								});
//								getAjaxData({
//									"id": $("#relative-id").val() == '' ? undefined : $("#relative-id").val(),
//									"name": $("#relative-name").val() == '' ? undefined : $("#relative-name").val(),
//									"student_id": $("#relative-student-id").val() == '' ? undefined : $("#relative-student-id").val(),
//									"student_name": $("#relative-student-name").val() == '' ? undefined : $("#relative-student-name").val(),
//									"phone": $("#family-phone").val() == '' ? undefined : $("#family-phone").val(),
//									"limit": 20,
//									"offset": 1,
//								});
                                window.location.reload();

							},
							error: function() {
								layer.msg('添加失败');
								console.log("error");
							}
						});

					},
					errorPlacement: function(error, element) {
						error.appendTo(element.parent().find(".errorPart"));
					},
					success: function() {
					}
				});
				$('#addInfo').click(function() {
					layerIndex = layer.open({
						title: '添加亲属',
						type: 1,
						skin: 'layui-layer-demo', //样式类名
						anim: 2,
						shadeClose: true, //开启遮罩关闭
						btn: ['确定', '取消'], //按钮
						content: $('#addInfoContent'),
						yes: function() {
							$("#addInfoContentSubmit").click();
						}
					});
				});
                
                //编辑
				$("#editAreaContentform").validate({
					focusCleanup: true,
					focusInvalid: false,
					debug: true,
					rules: {
						edit_id: {
							required: true,
						},
						edit_name: {
							required: true,
						},
						edit_sex: {
							required: true,
						},
						edit_age: {
							required: true,
						},
						edit_phone: {
							required: true,
						},
					},
					messages: {
						edit_id: {
							required: '必填',
						},
						edit_name: {
							required: '必填',
						},
						edit_sex: {
							required: '必填',
						},
						edit_age: {
							required: '必填',
						},
						edit_phone: {
							required: '必填',
						},
					},
					submitHandler: function(form) {
						var data = {
							'id': $("#edit_id").val(),
							'name': $("#edit_name").val(),
							'sex': $("#edit_sex option:selected").val(),
							'age': $("#edit_age").val(),
							'phone': $("#edit_phone").val()
						}
						$.ajax({
							type: "POST",
							contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
							url: "/relative/update",
							async: false,
							data: data,
							timeout: "30000",
							success: function(msg) {
								layer.closeAll();
								layer.msg('修改成功', {
									icon: 1,
									time: 800 //2s后自动关闭
								});
                                window.location.reload()
							},
							error: function() {
								layer.msg('修改失败');
								console.log("error");
							}
						});
					},

					errorPlacement: function(error, element) {
						error.appendTo(element.parent().find(".errorPart"));
					},
					success: function() {
					}
				});
				$('.areapen').click(function() {
					$(".errorPart").html("");
					$("#edit_id").val($(this).parent("td").siblings(".data_id").html());
					$("#edit_name").val($(this).parent("td").siblings(".data_name").html());
					$("#edit_sex option).each(function(){
					   if($(this).text() === $(this).parent("td").siblings(".data_sex").html()){
					      $(this).attr('selected', 'selected);
					   }
					});
					$("#edit_age").val($(this).parent("td").siblings(".data_age").html());
					$("#edit_phone").val($(this).parent("td").siblings(".data_phone").html());
					layerIndex = layer.open({
						title: '修改学生信息',
						type: 1,
						skin: 'layui-layer-demo', //样式类名
						closeBtn: 0, //不显示关闭按钮
						anim: 2,
						shadeClose: true, //开启遮罩关闭
						btn: ['确定', '取消'], //按钮
						content: $('#editAreaContent'),
						yes: function() {
							$("#editAreaContentSubmit").click();
						}
					});
				});
				$('.certify').click(function() {
					$(".errorPart").html("");
					$("#certify_id").val($(this).parent("td").siblings(".data_id").html());
					layerIndex = layer.open({
						title: '亲属认证',
						type: 1,
						skin: 'layui-layer-demo', //样式类名
						closeBtn: 0, //不显示关闭按钮
						anim: 2,
						shadeClose: true, //开启遮罩关闭
						btn: ['确定', '取消'], //按钮
						content: $('#certifyContent'),
						yes: function() {
							var data = {
								'relative_id': $("#certify_id").val(),
								'image': document.getElementById('img3').src
							}
							$.ajax({
								type: "POST",
								contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
								url: "/identy/action",
								async: false,
								data: data,
								timeout: "30000",
								success: function(msg) {
									layer.closeAll();
									layer.msg('认证成功', {
										icon: 1,
										time: 800 //2s后自动关闭
									});
	                                window.location.reload()
								},
								error: function() {
									layer.msg('认证失败');
									console.log("error");
								}
							});
						}
					});
				});
	          		
				$('.fa-close').click(function() {

					layer.confirm('确定删除选中的学生？', {
						btn: ['确定', '取消'] //按钮
					}, function() {
						layer.msg('已经删除选中的学生', {
							icon: 1,
							time: 600
						});
					}, function() {
						/*layer.msg('也可以这样', {
							time: 20000, //20s后自动关闭
							btn: ['明白了', '知道了']
						});*/
					});
				});


			});
		</script>
	</body>

</html>