<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>后端管理</title>
		<meta name="keywords" content="后端管理">
		<meta name="description" content="后端管理">

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link href="css/animate.min.css" rel="stylesheet">
		<link href="css/style.min.css" rel="stylesheet">
		<link href="css/pager.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="js/plugins/layer/skin/default/layer.css" rel="stylesheet" type="text/css" />
		<link href="css/layui.css" media="all" rel="stylesheet">
		<link href="css/jquery.monthpicker.css" rel="stylesheet" type="text/css" >

		<script src="js/jquery.min.js"></script>
        
	</head>
   <style>
   	#class-name{
   		width: 180px;
   	}
   </style>
	<body class="gray-bg">
		<div class="wrapper wrapper-content animated fadeIn">
			<div class="row">
				<div class="col-sm-12">
					<div class="tabs-container">
						<div class="panel-body">
							<div class="wrapper wrapper-content animated fadeInRight">
								<div class="row">
									<div class="col-sm-12">
										<div class="bgBackground">
											<div class="ibox-title-Myown1">
												<div class="zx_searchTit">
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">月份：</label>
														<input type="text" class="input" id="monthly">
													</div>
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">所在年级：</label>
														<select id="grade-name">
															<option value="">--请选择年级--</option>
														</select>
													</div>
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">所在班级：</label>
														<select id="class-name">
															<option value="">--请选择班级-</option>
														</select>
													</div>
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">学生姓名：</label>
														<input type="text" name="" value="" id="student-name" />
													</div>
													<div class="sendInquiry0 col-sm-4" style="position: relative; margin:3.5px 0 0 0;">
														<button class="btn btn-primary btn-myown" id="searchBtn">查询</button>
													</div>
													<div style="clear: both;"></div>
												</div>
											</div>
											<div class="ibox-content">
												<table class="table table-striped table-bordered table-hover dataTables-example">
													<thead>
														<tr class="zx_checkedAll">
															<th colspan="6" style="text-align: left; background: none;padding: 10px 0px;">
																<button class="btn btn-primary btn-myown" id="downLoad">导出月考勤表</button>
															</th>
														</tr>
														<tr class="zx_thTitle">
															<th>序号</th>
															<th>年级</th>
															<th>姓名</th>
															<th>月份</th>
															<th>月签到统计</th>
															<th>迟到</th>
															<th>早退</th>
															<th style="width: 120px;">操作</th>
														</tr>
													</thead>
													<tbody id="tbody">

													</tbody>
												</table>
												<div id="layPage"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!--详情内容-->
		<div id="addInfoContent" style="display: none; width: 500px; padding: 20px;">
			<form id="addInfoContentform" role="form" method="POST">
				<div style="margin: 20px 0;">
					<span>年级名称：</span><input type="text" style="width: 350px;" id="add_name" name="add_name" />
					<div class="errorPart"></div>
				</div>
				<input class="submit" type="submit" value="提交" id="addInfoContentSubmit" style="display: none;">
			</form>
		</div>
		

		<script src="js/bootstrap.min.js"></script>
		<script src="js/plugins/layer/layer.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.form.js"></script>
		<script src="js/layui.js" charset="utf-8"></script>
		<script src="js/jquery.monthpicker.js"></script>
		<script src="js/common.js" charset="utf-8"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				//搜索框-月份
				$('#monthly').monthpicker({
					years: [2018, 2017, 2016, 2015, 2014],
			        topOffset: 6
				})
				//获取学校
				var schoolSelect = JSON.parse(localStorage.getItem("school"));
			    var school = schoolSelect.id;  
			    var cardcode = schoolSelect.cardcode;
			    
			    //获取年级
				gradeInput();

				function gradeInput() {
					var data = {
						"limit": 20,
						"offset": 1,
						'school_id': school,
					}
					$.ajax({
						method: 'GET',
						xhrFields: {
							"withCredentials": true
						},
						contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
						url: "/grade/infos",
						data: data,
						dataType: 'json',
						jsonpCallback: '',
						cache: false,
						timeout: "1000000",
						success: function(msg) {
							var str = '<option value="">--请选择年级--</option>';
							var layerSrt = '';
							if(msg.data.length > 0) {
								for(var i = 0; i < msg.data.length; i++) {
									str += '<option value=' + msg.data[i].id + '>' + msg.data[i].name + '</option>';
								}
								$("#grade-name").html(str);

							} else {
								$("#grade-name").html('<option value="">---无---</option>');

							}
						},
						complete: function(XMLHttpRequest, status) {

						}
					})

				}

				//切换年级
				$("#grade-name").change(function() {
                    if($("#grade-name").val() == ''||undefined){
						$("#class-name").html('<option value="">---请选择班级---</option>');
					}else{
						classInput({
							"limit": 20,
							"offset": 1,
							'school_id': school,
							"grade_id": $("#grade-name").val() == '' ? undefined : $("#grade-name").val(),
						});
					}
				});
			    
			    //获取班级
				function classInput(data) {
					$.ajax({
						method: 'GET',
						xhrFields: {
							"withCredentials": true
						},
						contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
						url: "/class/infos",
						data: data,
						dataType: 'json',
						jsonpCallback: '',
						cache: false,
						timeout: "1000000",
						success: function(msg) {
							var str = '';
							var layerSrt = '';
							if(msg.data.length > 0) {
								for(var i = 0; i < msg.data.length; i++) {
									str += '<option value=' + msg.data[i].id + '>' + msg.data[i].name + '</option>';
								}
								$("#class-name").html(str);
							} else {
								$("#class-name").html('<option value="">---无---</option>');
							}
						},
						complete: function(XMLHttpRequest, status) {

						}
					})

				}
			    
				//获取列表
				getAjaxData({
//					"school_id": school,
					"limit": 20,
					"offset": 1,
				});

				function getAjaxData(senddata) {
					$.ajax({
						type: "GET",
						contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
						url: "/student_sign/combination_infos",
						async: false,
						data: senddata,
						timeout: "30000",
						success: function(msg) {
							var msg = JSON.parse(msg);
							//分页
							layui.use(['laypage', 'layer'], function() {
									var page = layui.laypage;
									page.render({
										elem: "layPage",
										count: msg.count,
										curr: senddata.offset,
										limit: senddata.limit,
										layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
										jump: function(e, first) {
											if(!first) {
												senddata.offset = e.curr;
												senddata.limit = e.limit;
												var district = "";
												getAjaxData({
													"grade_id": $("#grade-name").val() == '' ? undefined : $("#grade-name").val(),
													"class_id": $("#class-name").val() == '' ? undefined : $("#class-name").val(),
													"date": $("#monthly").val() == '' ? undefined : $("#monthly").val(),
													"student_name": $("#student-name").val() == '' ? undefined : $("#student-name").val(),
													"school_id": school,
													"limit": 20,
													"offset": 1,
												});
											}
										}
									})
								})
								//表格渲染
							var strs = '';
							if(msg.data.length > 0) {
								for(var i = 0; i < msg.data.length; i++) {
									strs += '<tr class="gradeX">' +
										'<td class="centerSort">' + (i + 1) + '</td>' +
										'<td class="center">' + msg.data[i].grade_name + '</td>' +
										'<td class="center">' + msg.data[i].name + '</td>' +
										'<td class="center">' + msg.data[i].sign_date + '</td>' +
										'<td class="center">' + msg.data[i].sign + '</td>' +
										'<td class="center">' + msg.data[i].late + '</td>' +
										'<td class="center">' + msg.data[i].early + '</td>' +
										'<td><i class="fa fa-calendar areapen" title="查看详情"></td>' +
										'</tr>'
								}
								$("#tbody").html(strs);
							} else {
								$("#tbody").html('<tr><td colspan="8" style="text-align:center;font-size:18px;color:#666;padding:50px;background:#fff;height:318px;">暂无数据！</td></tr>');
							}
						},
						error: function() {
							console.log("error");
						}
					});
				}

				//查询
				$("#searchBtn").click(function() {
					getAjaxData({
						"grade_id": $("#grade-name").val() == '' ? undefined : $("#grade-name").val(),
						"class_id": $("#class-name").val() == '' ? undefined : $("#class-name").val(),
						"date": $("#monthly").val() == '' ? undefined : $("#monthly").val(),
						"student_name": $("#student-name").val() == '' ? undefined : $("#student-name").val(),
						"school_id": school,
						"limit": 20,
						"offset": 1,
					});
				});

				//添加校验
//				var layerIndex;
//				$("#addInfoContentform").validate({
//					focusCleanup: true,
//					focusInvalid: false,
//					debug: true,
//					rules: {
//						add_name: {
//							required: true,
//						},
//					},
//					messages: {
//						add_name: {
//							required: '必填',
//						},
//					},
//					submitHandler: function(form) {
//						var data = {
//							'name': $("#add_name").val(),
//							"school_id": school,
//						}
//						$.ajax({
//							type: "POST",
//							contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
//							url: "/grade/input",
//							async: false,
//							data: data,
//							timeout: "30000",
//							success: function(msg) {
//								layer.closeAll();
//								layer.msg('添加成功', {
//									icon: 1,
//									time: 800 //2s后自动关闭
//								});
//								window.location.reload();
//							},
//							error: function() {
//								layer.msg('添加失败');
//								console.log("error");
//							}
//						});
//
//					},
//					errorPlacement: function(error, element) {
//						error.appendTo(element.parent().find(".errorPart"));
//					},
//					success: function() {}
//				});

				//添加弹框
				$('#addInfo').click(function() {
					layerIndex = layer.open({
						title: '考勤',
						type: 1,
						skin: 'layui-layer-demo',
						anim: 2,
						shadeClose: true,
						content: $('#addInfoContent'),
						yes: function() {
							
						}
					});
				});

				
			});
		</script>
	</body>

</html>