<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>后端管理</title>
		<meta name="keywords" content="后端管理">
		<meta name="description" content="后端管理">

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link href="css/animate.min.css" rel="stylesheet">
		<link href="css/style.min.css" rel="stylesheet">
		<link href="css/pager.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="js/plugins/layer/skin/default/layer.css" rel="stylesheet" type="text/css" />
		<link href="css/layui.css" media="all" rel="stylesheet">

		<script src="js/jquery.min.js"></script>

	</head>
	<style>
		#class-name {
			width: 180px;
			margin-left: 5px;
		}
	</style>

	<body class="gray-bg">
		<div class="wrapper wrapper-content animated fadeIn">
			<div class="row">
				<div class="col-sm-12">
					<div class="tabs-container">
						<div class="panel-body">
							<div class="wrapper wrapper-content animated fadeInRight">
								<div class="row">
									<div class="col-sm-12">
										<div class="bgBackground">
											<div class="ibox-title-Myown1">
												<div class="zx_searchTit">
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">教师姓名：</label>
														<input type="text" name="" value="" id="teacher-name" />
													</div>
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">联系方式：</label>
														<input type="text" name="" value="" id="teacher-phone" />
													</div>
													<div class="sendInquiry2" style="float: left;width: 450px;">
														<label class="control-label">任教班级：</label>
														<select id="grade-name">
															<option value="">--请选择年级--</option>
														</select>
														<select id="class-name">
															<option value="">--请选择班级--</option>
														</select>
													</div>
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">是否园/校长：</label>
														<select id="teacher-president">
															<option value="">--请选择--</option>
															<option>是</option>
															<option>否</option>
														</select>
													</div>
													<div class="sendInquiry2" style="float: left;">
														<label class="control-label">状态：</label>
														<select id="teacher-state">
															<option value="">--请选择--</option>
															<option value="education">在职</option>
															<option value="dimission">离职</option>
															<option value="holiday">休假</option>
														</select>
													</div>

													<div class="sendInquiry0 col-sm-4" style="position: relative; margin:3.5px 0 0 0;">
														<button class="btn btn-primary btn-myown" id="searchBtn">查询</button>
													</div>
													<div style="clear: both;"></div>
												</div>
											</div>
											<div class="ibox-content">
												<table class="table table-striped table-bordered table-hover dataTables-example">
													<thead>
														<tr class="zx_checkedAll">
															<th colspan="6" style="text-align: left; background: none;padding: 10px 0px;">
																<button class="btn btn-default btn-myown" id="delInfo" disabled="disabled"><i class="fa fa-trash"></i>&nbsp;批量删除</button>
																<button class="btn btn-primary btn-myown" id="addInfo">+添加老师</button>
																<button class="btn btn-primary btn-myown" id="addManage">批量导入</button>
																<button class="btn btn-primary btn-myown" id="addManageDown">下载导入模板</button>
															</th>
														</tr>
														<tr class="zx_thTitle">
															<th><input type="checkbox" class="zx_checkedBtn" id="zx_checkedAllBtn" name="allcheck" value="allCheck"></th>
															<th>序号</th>
															<th>教师姓名</th>
															<th>联系方式</th>
															<th>是否园长</th>
															<th>任教年级</th>
															<th>任教班级</th>
															<th>状态</th>
															<th>创建时间</th>
															<th style="width: 120px;">操作</th>
														</tr>
													</thead>
													<tbody id="tbody">
													</tbody>
												</table>
												<div id="layPage"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--添加弹框内容-->
		<div id="addInfoContent" style="display: none; width: 500px; padding: 20px;">
			<form id="addInfoContentform" role="form" method="POST">
				<div style="margin: 20px 0;">
					<span>教师姓名：</span><input type="text" style="width: 350px;" id="add_name" name="add_name" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>性别：</span>
					<input type="radio" value="1" name="addsex" checked><span style="width: 40px;margin-left: 5px;">男</span>
					<input type="radio" value="0" name="addsex"><span style="width: 40px;margin-left: 5px;">女</span>
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>职务：</span>
					<select id="add_post" name="add_post" style="width: 350px;">
						<option>--请选择职务--</option>
						<option value="2">教师</option>
						<option value="1">园长</option>
					</select>
					<div class="errorPartAddPost errorPartAddSpt">请选择职务</div>
				</div>
				<div style="margin: 20px 0;">
					<span>手机号码：</span><input type="text" style="width: 350px;" id="add_phone" name="add_phone" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>任教年级：</span>
					<select id="add_grade" name="add_grade" style="width: 350px;">
						<option value="">--请选择年级--</option>
					</select>
				</div>
				<div style="margin: 20px 0;">
					<span class="fl">任教班级：</span>
					<div class="addClassNamePart fl" id="addClassNamePart">
						<!--<div class="classNameList"><input type="radio" name="1" value="option1" /><span class="className">一年级</span></div>-->
					</div>
					<div style="clear:both;height: 1px;"></div>
				</div>
				<div style="margin: 20px 0;clear: both;">
					<span class="fl">备注：</span>
					<textarea style="width: 350px;" id="add_remarks" name="add_remarks"></textarea>
					<div class="errorPart"></div>
				</div>
				<input class="submit" type="submit" value="提交" id="addInfoContentSubmit" style="display: none;">
			</form>
		</div>
		<!--编辑弹框内容-->
		<div id="editAreaContent" style="display: none; width: 500px; padding: 20px;">
			<form id="editAreaContentform" role="form">
				<div style="margin: 20px 0;">
					<span>教师姓名：</span><input type="text" style="width: 350px;" id="edit_name" name="edit_name" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>性别：</span>
					<input type="radio" name="editsex" value="1" /><span style="width: 40px;margin-left: 5px;">男</span>
					<input type="radio" name="editsex" value="0" /><span style="width: 40px;margin-left: 5px;">女</span>
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>职务：</span>
					<select id="edit_post" name="edit_post" style="width: 350px;">
						<option>--请选择职务--</option>
						<option value="2">教师</option>
						<option value="1">园长</option>
					</select>
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>手机号码：</span><input type="text" style="width: 350px;" id="edit_phone" name="edit_phone" />
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>状态：</span>
					<select style="width: 350px;" id="edit_status" name="edit_status">
						<option value="education">在职</option>
						<option value="dimission">离职</option>
						<option value="holiday">休假</option>
					</select>
					<div class="errorPart"></div>
				</div>
				<div style="margin: 20px 0;">
					<span>任教年级：</span>
					<select id="edit_grade" name="edit_grade" style="width: 350px;">
						<option value="">--请选择年级--</option>
					</select>
				</div>
				<div style="margin: 20px 0;">
					<span class="fl">任教班级：</span>
					<div class="editClassNamePart fl" id="editClassNamePart">
					</div>
					<div style="clear:both;height: 1px;"></div>
				</div>
				<div style="margin: 20px 0;clear: both;">
					<span class="fl">备注：</span>
					<textarea style="width: 350px;" id="edit_remarks" name="edit_remarks"></textarea>
					<div class="errorPart"></div>
				</div>
				<input class="submit" type="submit" value="提交" id="editAreaContentSubmit" style="display: none;">
			</form>
		</div>

		<script src="js/bootstrap.min.js"></script>
		<script src="js/plugins/layer/layer.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.form.js"></script>
		<script src="js/layui.js" charset="utf-8"></script>
		<script src="js/common.js" charset="utf-8"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				//获取学校
				schoolInput();
				//获取年级
				gradeInput();

				function gradeInput() {
					var data = {
						"limit": 20,
						"offset": 1,
						'school_id': school,
					}
					$.ajax({
						method: 'GET',
						xhrFields: {
							"withCredentials": true
						},
						contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
						url: "/grade/infos",
						data: data,
						dataType: 'json',
						jsonpCallback: '',
						cache: false,
						timeout: "1000000",
						success: function(msg) {
							var str = '';
							var layerSrt = '';
							if(msg.data.length > 0) {
								for(var i = 0; i < msg.data.length; i++) {
									str += '<option value=' + msg.data[i].id + '>' + msg.data[i].name + '</option>';
									layerSrt += '<div class="gradeNameList"><input type="checkbox" name="' + msg.data[i].id +
										'" value="' + msg.data[i].id + '" /><span class="gradeName">' + msg.data[i].name + '</span></div>'
								}

								$("#grade-name").append(str);
								$("#add_grade").append(str);
								$("#edit_grade").append(str);

							} else {
								$("#grade-name").html('<option value="">---无---</option>');
								$("#add_grade").html('<option value="">---无---</option>');
								$("#edit_grade").html('<option value="">---无---</option>');

							}
						},
						complete: function(XMLHttpRequest, status) {

						}
					})

				}

				//切换年级
				$("#grade-name").change(function() {
					classInput({
						"limit": 20,
						"offset": 1,
						'school_id': school,
						"grade_id": $("#grade-name").val() == '' ? undefined : $("#grade-name").val(),
					}, 'no');
				});
				$("#add_grade").change(function() {
					if($("#add_grade").val() == ''){
						$(".addClassNamePart").html("");
					}else{
						classInput({
							"limit": 20,
							"offset": 1,
							'school_id': school,
							"grade_id": $("#add_grade").val() == '' ? undefined : $("#add_grade").val(),
						}, 'yes','yes');
					}
				});
				$("#edit_grade").change(function() {
					if($("#edit_grade").val() == ''){
						$(".editClassNamePart").html("");
					}else{
						classInput({
							"limit": 20,
							"offset": 1,
							'school_id': school,
							"grade_id": $("#edit_grade").val() == '' ? undefined : $("#edit_grade").val(),
						}, 'yes','no');
					}
				});
				
				//获取班级
				function classInput(sendData, ifLayer,ifadd) {
					$.ajax({
						method: 'GET',
						xhrFields: {
							"withCredentials": true
						},
						contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
						url: "/class/infos",
						data: sendData,
						dataType: 'json',
						jsonpCallback: '',
						cache: false,
						timeout: "1000000",
						success: function(msg) {
							var str = '';
							var layerSrt = '';
							if(msg.data.length > 0) {
								for(var i = 0; i < msg.data.length; i++) {
									str += '<option value=' + msg.data[i].id + '>' + msg.data[i].name + '</option>';
									layerSrt += '<div class="classNameList"><input type="checkbox" name="checkboxClassName"' +
										'value="' + msg.data[i].id + '" /><span class="className">' + msg.data[i].name + '</span></div>'
								}
								layerSrt = layerSrt + '<div style="clear:both"></div>'
								if(ifLayer == "yes") {
									if(ifadd == "yes"){
										$(".addClassNamePart").html(layerSrt);
									}else{
										$(".editClassNamePart").html(layerSrt);
									}
								} else {
									$("#class-name").html(str);
									$("#add_class").html(str);
									$("#edit_class").html(str);
								}

							} else {
								$("#class-name").html('<option value="">---无---</option>');
								$("#add_class").html('<option value="">---无---</option>');
								$("#edit_class").html('<option value="">---无---</option>');

							}
						},
						complete: function(XMLHttpRequest, status) {

						}
					})

				}

				getAjaxData({
					"name": $("#teacher-name").val() == '' ? undefined : $("#teacher-name").val(),
					"phone": $("#teacher-phone").val() == '' ? undefined : $("#teacher-phone").val(),
					"grade_id": $("#grade-name").val() == '' ? undefined : $("#grade-name").val(),
					"class_id": $("#class-name").val() == '' ? undefined : $("#class-name").val(),
					"position": $("#teacher-president").val() == '' ? undefined : $("#teacher-president").val(),
					"status": $("#teacher-state").val() == '' ? undefined : $("#teacher-state").val(),
					"limit": 20,
					"offset": 1,
				});

				//列表
				function getAjaxData(senddata) {
					$.ajax({
						type: "GET",
						contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
						url: "/teacher/infos",
						async: false,
						data: senddata,
						timeout: "30000",
						success: function(msg) {
							var msg = JSON.parse(msg);
							//分页
							layui.use(['laypage', 'layer'], function() {
									var page = layui.laypage;
									page.render({
										elem: "layPage",
										count: msg.count,
										curr: senddata.offset,
										limit: senddata.limit,
										layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
										jump: function(e, first) {
											if(!first) {
												senddata.offset = e.curr;
												senddata.limit = e.limit;
												var district = "";
												getAjaxData({
													"name": $("#teacher-name").val() == '' ? undefined : $("#teacher-name").val(),
													"phone": $("#teacher-phone").val() == '' ? undefined : $("#teacher-phone").val(),
													"grade_id": $("#grade-name").val() == '' ? undefined : $("#grade-name").val(),
													"class_id": $("#class-name").val() == '' ? undefined : $("#class-name").val(),
													"position": $("#teacher-president").val() == '' ? undefined : $("#teacher-president").val(),
													"status": $("#teacher-state").val() == '' ? undefined : $("#teacher-state").val(),
													"limit": e.limit,
													"offset": e.curr,
												});

											}
										}
									})
								})
								//表格渲染
							var strs = '';
							console.log(msg);
							if(msg.data.length > 0) {
								for(var i = 0; i < msg.data.length; i++) {
									var className = '';
									if(msg.data[i].position == 1) {
										msg.data[i].position = '园长';
									} else {
										msg.data[i].position = '教师';
									}
									if(msg.data[i].status == 'education') {
										msg.data[i].status = '在教';
									} else if(msg.data[i].status == 'holiday') {
										msg.data[i].status = '休假';
									} else if(msg.data[i].status == 'dimission') {
										msg.data[i].status = '离职';
									}
									for(var j=0;j<msg.data[i].class_info.length;j++){
										if(j == msg.data[i].class_info.length-1){
											className += msg.data[i].class_info[j].name;
										}else{
											className += msg.data[i].class_info[j].name + ',';
										}
									}
									strs += '<tr class="gradeX">' +
										'<td><input type="checkbox" class="zx_checkedBtn"></td>' +
										'<td class="centerSort">' + (i + 1) + '</td>' +
										'<td class="data_name" id="'+ msg.data[i].describe +'">' + msg.data[i].name + '</td>' +
										'<td class="center data_phone" id="'+ msg.data[i].sex +'">' + msg.data[i].phone + '</td>' +
										'<td class="center data_position">' + msg.data[i].position + '</td>' +
										'<td class="center data_grade_name" id ="'+ msg.data[i].grade_id +'">' + msg.data[i].grade_name + '</td>' +
										'<td class="center data_class_name">' + className + '</td>' +
										'<td class="center data_status">' + msg.data[i].status + '</td>' +
										'<td class="center">' + msg.data[i].create_time + '</td>' +
										'<td><i class="fa fa-pencil areapen" title="修改"></i>&nbsp;&nbsp;<i class="fa fa-close" title="删除"></i></td>' +
										'</tr>'
								}
								$("#tbody").html(strs);
							} else {
								$("#tbody").html('<tr><td colspan="10" style="text-align:center;font-size:18px;color:#666;padding:50px;background:#fff;height:318px;">暂无数据！</td></tr>');
							}
						},
						error: function() {
							console.log("error");
						}
					});
				}

				//全选按钮
				$("#zx_checkedAllBtn").click(function() {
					if(this.checked) {
						$("#tbody :checkbox").prop("checked", true);
					} else {
						$("#tbody :checkbox").prop("checked", false);
					}
					allchk();
				});

				$("#tbody :checkbox").click(function() {
					allchk();
				});

				//全选
				function allchk() {
					$('#delInfo').attr("disabled", false);
					var chknum = $("#tbody :checkbox").size(); //选项总个数 
					var chk = 0;
					$("#tbody :checkbox").each(function(index, ele) {
						$(this).parents('tr').attr('id', "trId_" + index);
						if($(this).prop("checked") == true) {
							chk++;
						}
					});
					if(chknum == chk) {
						$("input[name=allcheck]").prop("checked", true);
					} else {
						$("input[name=allcheck]").prop("checked", false);
					}
					if(chk >= 1) {
						$('#delInfo').attr('class', 'btn btn-primary btn-myown');
					} else {
						$('#delInfo').attr('class', 'btn btn-default btn-myown');
					}
				}

				//删除
				$('#delInfo').click(function() {
					var valArr = new Array;
					getValArr(valArr);
					if(valArr.length > 0) {
						layer.confirm('确定删除选中的老师？', {
							btn: ['确定', '取消'] //按钮
						}, function() {
							$.ajax({
								method: 'POST',
								xhrFields: {
									"withCredentials": true
								},
								contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
								url: "",
								data: sendData,
								dataType: 'json',
								jsonpCallback: '',
								cache: false,
								timeout: "1000000",
								success: function(data) {
									console.log(valArr)
									delData(valArr);
									layer.closeAll();
									layer.msg('删除成功', {
										icon: 1,
										time: 600
									});
									$('#delInfo').attr("disabled", "disabled");
									$('#delInfo').attr('class', 'btn btn-default btn-myown');
								},
								complete: function(XMLHttpRequest, status) {

								}
							})

						}, function() {});
					} else {
						$('#delInfo').attr("disabled", "disabled");
					}
				});

				function getValArr(valArr) {
					$("#tbody :checkbox").each(function(index, ele) {
						if($(ele).prop("checked")) {
							valArr.push(index);
						}
					});
				}

				function delData(valArr) {
					for(var i = 0; i < valArr.length; i++) {
						$('#trId_' + valArr[i]).remove();
					}
				}

				//查询
				$("#searchBtn").click(function() {
					getAjaxData({
						"name": $("#teacher-name").val() == '' ? undefined : $("#teacher-name").val(),
						"phone": $("#teacher-phone").val() == '' ? undefined : $("#teacher-phone").val(),
						"grade_id": $("#grade-name").val() == '' ? undefined : $("#grade-name").val(),
						"class_id": $("#class-name").val() == '' ? undefined : $("#class-name").val(),
						"position": $("#teacher-president").val() == '' ? undefined : $("#teacher-president").val(),
						"status": $("#teacher-state").val() == '' ? undefined : $("#teacher-state").val(),
						"limit": 20,
						"offset": 1,
					});
				});
				//校验隐藏
                $("#add_post").change(function(){
                	$(".errorPartAddPost").css("display", "none");
                });
				//添加校验
				var layerIndex;
				jQuery.validator.addMethod("isPhone", function(value, element) {
					var reg = /^[0-9]{10,20}$/;
					var phoneNum = $("#add_phone").val();
					var flag = reg.test(phoneNum);
					return flag;
				}, "请正确填写手机号码");
				$("#addInfoContentform").validate({
					focusCleanup: true,
					focusInvalid: false,
					debug: true,
					rules: {
						add_name: {
							required: true,
						},
						add_phone: {
							required: true,
							isPhone: true,
						},
					},
					messages: {
						add_name: {
							required: '必填',
						},
						add_phone: {
							required: '必填',
							isPhone: '请正确填写手机号码',
						},
					},
					submitHandler: function(form) {
						var obj = document.getElementsByName('checkboxClassName');
						var classId = '';
						if($("#add_post option:selected").val() == ''||$("#add_post option:selected").val() == undefined) {
							$(".errorPartAddPost").css("display", "block");
							return false;
						} else {
								for(var i = 0; i < obj.length; i++) {
									if(obj[i].checked) {
										if(i == obj.length-1){
											classId += obj[i].value;
										}else{
											classId += obj[i].value + ',';
										}
									}
								}
								var data = {
									'name': $("#add_name").val(),
									'sex': $("input[name='addsex']:checked").val(),
									'position': $("#add_post option:selected").val(),
									'phone': $("#add_phone").val(),
									'class_id': classId,
									'describe': $("#add_remarks").val(),

								}
								$.ajax({
									type: "POST",
									contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
									url: "/teacher/input",
									async: false,
									data: data,
									timeout: "30000",
									success: function(msg) {
										layer.closeAll();
										layer.msg('添加成功', {
											icon: 1,
											time: 800 //2s后自动关闭
										});
										window.location.reload();
									},
									error: function() {
										layer.msg('添加失败');
										console.log("error");
									}
								});
						}
					},
					errorPlacement: function(error, element) {
						error.appendTo(element.parent().find(".errorPart"));
					},
					success: function() {}
				});

				//添加弹框
				$('#addInfo').click(function() {
					$("input[type = 'text']").val("");
					$("#add_post").val('');
					$("#add_grade").val('');
					$(".addClassNamePart").html('');
					$(".errorPartAddSpt").css("display", "none");
					$(".errorPart").html("");
					
					layerIndex = layer.open({
						title: '添加老师',
						type: 1,
						skin: 'layui-layer-demo', 
						anim: 2,
						shadeClose: true, 
						btn: ['确定', '取消'], 
						content: $('#addInfoContent'),
						yes: function() {
							$("#addInfoContentSubmit").click();
							
							if($("#add_post option:selected").val() == ''||$("#add_post option:selected").val() == undefined) {
								$(".errorPartAddPost").css("display", "block");
							}
						}
					});
				});

				//编辑校验
				$("#editAreaContentform").validate({
					focusCleanup: true,
					focusInvalid: false,
					debug: true,
					rules: {
						edit_id: {
							required: true,
						},
						edit_name: {
							required: true,
						},
						edit_age: {
							required: true,
						},
						edit_school_id: {
							required: true,
						},
						edit_class_id: {
							required: true,
						},
						edit_phone: {
							required: true,
						},
					},
					messages: {
						edit_id: {
							required: '必填',
						},
						edit_name: {
							required: '必填',
						},
						edit_age: {
							required: '必填',
						},
						edit_school_id: {
							required: '必填',
						},
						edit_class_id: {
							required: '必填',
						},
						edit_phone: {
							required: '必填',
						},
					},
					submitHandler: function(form) {
						var data = {
							'id': $("#edit_id").val(),
							'name': $("#edit_name").val(),
							'school_id': $("#edit_school_id").val(),
							'class_id': $("#edit_class_id").val(),
							'sex': $("#edit_sex option:selected").val(),
							'age': $("#edit_age").val(),
							'phone': $("#edit_phone").val()
						}
						$.ajax({
							type: "POST",
							contentType: "application/x-www-form-urlencoded;chartset=UTF-8",
							url: "/teacher/update",
							async: false,
							data: data,
							timeout: "30000",
							success: function(msg) {
								layer.closeAll();
								layer.msg('修改成功', {
									icon: 1,
									time: 800 //2s后自动关闭
								});
								window.location.reload()
							},
							error: function() {
								layer.msg('修改失败');
								console.log("error");
							}
						});
					},

					errorPlacement: function(error, element) {
						error.appendTo(element.parent().find(".errorPart"));
					},
					success: function() {}
				});

				//编辑弹框
				$('.areapen').click(function() {
					//初始化赋值
					$(".errorPart").html("");
					$(".errorPartAddSpt").css("display", "none");
					$("#edit_name").val($(this).parent("td").siblings(".data_name").html());
					$("#edit_phone").val($(this).parent("td").siblings(".data_phone").html());
					if($(this).parent("td").siblings(".data_position").html() == '教师'){
						$("#edit_post").val("2");
					}else{
						$("#edit_post").val("1");
					}
					$("input:radio[value='"+ $(this).parent("td").siblings(".data_phone").attr("id") +"']").attr("checked","checked");
					$("#edit_grade").val($(this).parent("td").siblings(".data_grade_name").attr("id"));
					$("#edit_grade").change();
					var a = $(this).parent("td").siblings(".data_data_class_name").html();
					var a = a.split(",");
					var obj = document.getElementsByName('checkboxClassName');
					for(var i = 0; i < obj.length; i++) {
						for(var j = 0;j < a.length;j++){
							if(obj[i] == a[j]) {
							    obj[i].checked = true;
						    }
						}
						
					}
					
					$("#edit_remarks").val($(this).parent("td").siblings(".data_name").attr("id"));
					
					layerIndex = layer.open({
						title: '修改老师信息',
						type: 1,
						skin: 'layui-layer-demo',
						closeBtn: 0,
						anim: 2,
						shadeClose: true,
						btn: ['确定', '取消'],
						content: $('#editAreaContent'),
						yes: function() {
							$("#editAreaContentSubmit").click();
						}
					});
				});

				//删除
				$('.fa-close').click(function() {
					layer.confirm('确定删除选中的老师？', {
						btn: ['确定', '取消'] //按钮
					}, function() {
						layer.msg('已经删除选中的老师', {
							icon: 1,
							time: 600
						});
					}, function() {
						/*layer.msg('也可以这样', {
							time: 20000, //20s后自动关闭
							btn: ['明白了', '知道了']
						});*/
					});
				});

			});
		</script>
	</body>

</html>